{%extends 'layout/base_nv.html'%}
{%block title%}Điều chỉnh lớp{%endblock%}

{%block content%}
<section class="p-2">
    <h1>LỚP</h1>
    <div>
        <ul class="nav nav-underline ">
            <li class="nav-item">
                <a class="nav-link " href="/lop">Danh sách các lớp </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/dieuchinhlop/{{cls.id}}">Điều chỉnh lớp</a>
            </li>
        </ul>
    </div>
</section>
<section class="p-2">
    <form method="get" action="/dieuchinhlop/{{cls.id}}" id="classForm">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="me-3"><h1 class="m-0">Danh sách lớp {{cls.name}}</h1></div>
            <div class="search">
                <input type="text" {% if search_name %}value="{{search_name}}" {% endif %} " name="search"
                class="searchText" placeholder="Nhập học sinh...">
            </div>
            <div>
                <button type="submit" class="searchButton">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        <div class="ms-auto">
            <button type="button" class="btn-custom" onclick="clickAdd({{cls.id}},{{cls.total_student}})">Thêm học sinh</button>
        </div>
        </div>
    </form>
    {%if not students%}
    <h5>Danh sách trống. </h5>
    {%endif%}
    <div class="container">
        <table class="table table-striped table-hover" cellpadding="8">
            <thead>
            <tr>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Họ</th>
                <th>Tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Liên lạc</th>
                <th>Địa chỉ</th>
                <th>Xoá</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {%for s in students%}
                <td>{{s.stt}}</td>
                <td><img src="{{s.avatar}}" width="40"
                         height="40"></td>
                <td>{{s.first_name}}</td>
                <td>{{s.last_name}}</td>
                <td>{{s.date_of_birth}}</td>
                <td>{{s.gender}}</td>
                <td>
                    <a data-bs-toggle="tooltip" data-bs-title="Số điện thoại: {{s.phone}}"><i class="bi bi-telephone me-2"></i></a>
                    <a data-bs-toggle="tooltip" data-bs-title="Email: {{s.email}}"><i class="bi bi-envelope-at"></i></a>
                </td>
                <td>{{s.address}}</td>
                <td>
                    <button class="btn btn-danger" onclick="deleteStudent({{s.id}})">
                        <i class="bi bi-x-square"></i>
                    </button>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <nav>
            {%if pages > 1%}
            <ul class="pagination custom-pagination justify-content-end">
                {%for i in range(1, pages+1)%}
                <li class="page-item">
                    <a class="page-link" href="/dieuchinhlop/{{cls.id}}?page={{i}}">{{i}}</a>
                </li>
                {%endfor%}
            </ul>
            {%endif%}
        </nav>
    </div>
</section>
{%endblock%}