{%extends 'layout/base_nv.html'%}
{%block title%}Danh sách các lớp{%endblock%}

{%block content%}
<section class="p-2">
    <h1>LỚP</h1>
    <div>
        <ul class="nav nav-underline ">
            <li class="nav-item">
                <a class="nav-link active" href="/lop">Danh sách các lớp </a>
            </li>
        </ul>
    </div>
</section>
<section class="p-2">
    <div class="container">
        <table class="table table-striped table-hover" cellpadding="8">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên lớp</th>
                <th>Khối</th>
                <th>Sĩ số</th>
                <th>Chỉnh sửa</th>
                <th>Phân công</th>
            </tr>
            </thead>
            <tbody>
            {%for c in classes%}
            <tr>
                <td>{{c.stt}}</td>
                <td>{{c.name}}</td>
                <td>{{c.grade}}</td>
                <td>{{c.total_student}}</td>
                <td>
                    <a href="/dieuchinhlop/{{c.id}}" >
                        <button class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                    </a>
                </td>
                <td>
                    <a href="/chitietmon/{{c.id}}" >
                        <button class="btn btn-success"><i class="bi bi-hammer"></i></button>
                    </a>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <nav>
            {%if pages>1%}
            <ul class="pagination custom-pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <i class="lni lni-arrow-left"></i>
                    </a>
                </li>
                {%for i in range(1, pages+1)%}
                <li class="page-item">
                    <a class="page-link" href="/lop/?page={{i}}">1</a>
                </li>
                {%endfor%}
            </ul>
            {%endif%}
        </nav>
    </div>
</section>
{%endblock%}